<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}LITRevu{% endblock %}</title>
    {% load static %}
    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container" id="content">
        {% include "app/components/header.html" %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <script id="component-loader"
        src="{% static 'javascript/components.js' %}"
        data-stylesheet-url="{% static 'css/components.css' %}"></script>
</body>
</html>
