<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="{% static 'javascript/components.js' %}" defer></script>
</head>

<body>
    <div class="container" id="content">
        {% include "app/components/header.html" %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
