<form action="{%url "auth" %}" method="POST">
    {% csrf_token %}
    {% if auth_form.errors %}
        <ul class="errorlist"><li><strong>Vérifiez votre login et mot de passe</strong></li></ul>
    {% endif %}
    <div class="field">
        <p class="input-box">
            <label for="{{auth_form.username.id_for_label}}">Nom d'utilisateur :</label>{{ auth_form.username }}
        </p>
    </div>
    <div class="field">
        <p class="input-box">
            <label for="{{ auth_form.password.id_for_label }}">Mot de passe :</label>{{ auth_form.password }}
        </p>
    </div>
    <p class="commands">
        <input type="hidden" name="next" value="{{redirect_after_login}}">
        <button type="submit" name="action" value="login">Se connecter</button>
    </p>
</form>
