<form action="{% url "register" %}" method="POST">
    {% csrf_token %}
    {% if register_form.errors %}
        <ul class="errorlist">
        {% for err in register_form.errors %}
            <li><strong>{{ err|escape }}</strong></li>
        {% endfor %}
        </ul>
    {% endif %}
    {{ register_form.as_p }}
    <input type="hidden" name="next" value="{{redirect_after_login}}">
    <button type="submit" name="action" value="register">s'inscrire</button>
    <a href="{%url "auth" %}">Je suis déjà inscrit</a>
</form>
