{% extends "app/base.html" %}
{% block title%}User {{ username }}'s feed{% endblock %}
{% block content %}
<div class="flex-row">
    <a href="{% url "new_ticket" %}">Demander une critique</a>
    <a href="#">Créer une critique</a>
</div>
<div>
    {% for entry in feed_entries %}
        {% if entry.type == "REVIEW" %}
            {% include "app/components/review_view.html" with review=entry %}
        {% elif  entry.type == "TICKET" %}
            {% include "app/components/ticket_request_view.html" with ticket=entry %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}