{% extends "app/base.html" %}
{% block title%}User {{ username }}'s feed{% endblock %}
{% block content %}
<div class="flex-row">
    <a class="btn btn-primary" href="{% url "new_ticket" %}">Demander une critique</a>
    <a class="btn btn-primary" href="{%url "create_review" %}">Créer une critique</a>
</div>
<div>
    {% for entry in feed_entries %}
        {% if entry.content_type == "REVIEW" %}
            {% include "app/components/review_view.html" with review=entry display_commands=False%}
        {% elif  entry.content_type == "TICKET" %}
            {% include "app/components/ticket_request_view.html" with ticket=entry display_review_btn=True display_commands=False %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}