.debug {
    display: inline-block;
    background-color: darkgrey;
    color: darkslategray;
    border: solid 1px gray;
    font-size: small;
    padding: 1pt;
}

rating-widget {
    font-size: 15pt;
    --full-star-fill-color: #9b6426;
    --full-star-stroke-color: #9b6426;
    --empty-star-fill-color: #e0e0e0;
    --empty-star-stroke-color: #666;
}
