.debug {
    /*display: inline-block;*/
    display: none;
    background-color: darkgrey;
    color: darkslategray;
    border: solid 1px gray;
    font-size: small;
    padding: 1pt;
}


/* ============================================================== *
                        SECTION: BOILERPLATE
 * ============================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

html {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px  so 1rem = 10px*/
}

@media screen {
    html {
        /* responsive font-size base: adjust smallest font size between 10 and 14px */
        /* see https://matthewjamestaylor.com/responsive-font-size */
        font-size: calc(min(14px, 10px + 0.2vw));
    }
}

/* disable text-inflate algo */
html {
    -webkit-text-size-adjust: none;
    /* for iOS Safari */
    text-size-adjust: none;
    /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

/* ================= END SECTION: BOILERPLATE  ================== */

/* ================== SECTION: PROPERTIES  ====================== */

:root {
    /* colors */
    --color_text--default: #18181b;
    --color_text--subtle: #54545b;
    --color_text--link: #1d739b;
    --color_text--link-alt: #036592;
    --color_text--light: #f0f0f0;
    --color_text--accent: var(--color_text--link);
    --color_text--error: #a20f00;
    --color_background--surface: white;
    --color_background--element: #f4f4f5;
    --color_background--chip: #e4e4e7;
    --color_theme--dark: #490434;
    --color_theme--light: #bf97b3;
    --color_theme--light-alt: #fdf2f2;
    --color_border-dark: var(--color_theme--dark);
    --color_border-light: var(--color_theme--light);
    --color_border-light-alt: #cccccc;
    --color_accent: var(--color_text--link);

    /* fonts */
    /* Font Families */
    --font_body: "Roboto", system-ui, sans-serif;
    --font_head: "Spline Sans";
    --font_mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    /* font sizes */
    --font_size--small: 1.3rem;
    --font_size--normal: 1.6rem;
    --font_size--medium: 2.0rem;
    --font_size--large: 2.4rem;
    --font_size--xlarge: 2.8rem;
    --font_size--xxlarge: 3.3rem;
    --font_size--xxxlarge: 3.8rem;

    /* Line heights */
    --font_height--small: 1.2;
    --font_height--normal: 1.8;
    --font_height--medium: 1.5;
    --font_height--large: 1.3;
    --font_height--xlarge: 1.2;
    --font_height--xxlarge: 1.1;
    --font_height--xxxlarge: 1;
}

/* ================== END SECTION: PROPERTIES  =================== */

/* ================== SECTION: TYPOGRAPHY ========================= */
body {
    font-family: var(--font_body);
    font-size: var(--font_size--normal);
    line-height: var(--font_height--normal);
    color: var(--color_text--default);
    background: var(--color_background--surface);
    accent-color: var(--color_accent);
}

/* Heading typography */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font_head);
    font-weight: 600;
}

h1,
.util_txt--h1 {
    font-size: var(--font_size--xxxlarge);
    line-height: var(--font_height--xxxlarge);
}

h2,
.util_txt--h2 {
    font-size: var(--font_size--xxlarge);
    line-height: var(--font_height--xxlarge);
}

h3,
.util_txt--h3 {
    font-size: var(--font_size--xlarge);
    line-height: var(--font_height--xlarge);
}

h4,
.util_txt--h4 {
    font-size: var(--font_size--large);
    line-height: var(--font_height--large);
}

h5 {
    font-size: var(--font_size--medium);
    line-height: var(--font_height--medium);
}

/* Set typography for small text */

small,
.util_txt--small {
    font-size: var(--font_size--small);
    line-height: var(--font_height--small);
}

a:not([class]) {
    color: var(--color_text--link);
}

a:not([class]):hover,
a:not([class]):focus {
    color: var(--color_text--link-alt);
}

a:not([class]):hover,
a:not([class]):focus {
    text-decoration: underline;
    text-decoration-color: var(--color_text--link-alt);
    text-decoration-thickness: 2px;
}

/* ====================== END: TYPOGRAPHY ======================== */


/* ================== SECTION: FORM ELEMENTS ==================== */

/* Standardize labels */

label,
legend {
    background-color: transparent;
    font: inherit;
}

/* Standard styles for normal inputs */

input:not([type="checkbox"], [type="radio"], [type="color"]),
select,
textarea,
button {
    font: inherit;
    padding: .2rem .3rem;
    display: block;
    width: 100%;
    border: 1px solid var(--color_text--subtle);
    line-height: inherit;
    box-sizing: border-box;
    background: transparent;
}

/* Remove border and padding for file inputs */

input[type="file"] {
    padding: .2rem 0;
    border: none;
}

/* Set textarea default height and restrict resize to vertical */

textarea {
    resize: vertical;
    min-height: 10rem;
    font-family: var(--font_mono);
    font-size: var(--font_size--small);
    line-height: var(--font_height--small);
}

/* mimic buttons */
.button,
.button--secondary,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    width: auto;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background-color: var(--color_text--link);
    cursor: pointer;
    box-sizing: border-box;
    color: var(--color_background--surface);
    border: 2px solid var(--color_text--link);
    padding-inline: .3rem;
    padding-block: .3rem;
    border-radius: .5rem;
}

a.button:hover,
a.button--secondary:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:focus,
a.button--secondary:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-color: var(--color_text--default);
    background-color: var(--color_text--link-alt);
}

.button--secondary,
button[type="reset"],
input[type="reset"] {
    background-color: var(--color_background--surface);
    color: var(--color_text--link);
    border-color: var(--color_text--link);
}

a.button--secondary:hover,
button[type="reset"]:hover,
input[type="reset"]:hover,
a.button--secondary:focus,
button[type="reset"]:focus,
input[type="reset"]:focus {
    background-color: var(--color_background--surface);
    color: var(--color_text--link-alt);
    border-color: var(--color_text--link-alt);
}

/* ==================== END: FORM ELEMENTS ======================= */

/* ================== SECTION: CUSTOM ELEMENTS =================== */
rating-widget {
    font-size: inherit;
    line-height: inherit;
    display: block;
    --full-star-fill-color: #9b6426;
    --full-star-stroke-color: #9b6426;
    --empty-star-fill-color: #e0e0e0;
    --empty-star-stroke-color: #666;
}

/* ================== END: CUSTOM ELEMENTS ======================== */

/* ======================== SECTION: LAYOUT ======================== */

h1, h2 {
    text-align: center;
}

article {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

article:last-child {
    margin-bottom: 0
}

article:first-child {
    margin-top: 0
}

article > h1:first-child,
article > h2:first-child,
article > h3:first-child {
    margin-top: 0;
}

.post h3 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: var(--font_size--large);
    line-height: var(--font_size--x-large);
}

@media screen {
    .container#outer {
        padding: 0;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px var(--color_theme--dark);
    }

    header {
        margin: 0;
        padding: 2.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color_theme--dark);
        color: var(--color_text--light);
    }

    header a {
        color: var(--color_text--light);
    }

    header .brand {
        flex-grow: 1;
        text-align: center;
        font-size: var(--font_size--xlarge);
        margin: 0 0 .5rem 0;
        color: var(--color_text--light)
    }

    header nav .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .nav .nav-item {
        padding: .2rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .nav-item a {
        text-decoration: none
    }

    .nav-item a:hover {
        color: var(--color_background--surface);
        text-decoration: underline;
    }

    main {
        padding: 1rem;
    }

    article.post {
        padding: 1rem;
    }

    .feed>article {
        margin-bottom: 3rem;
    }

    .ticket-details img {
        max-width: 20rem;
        max-height: 25rem;
    }

    article.review>article.ticket {
        margin-top: 1rem;
    }

    .author-date {
        color: var(--color_text--subtle);
        font-style: italic;
    }

    .author-date * {
        height: var(--font_height--normal);
        margin: 0;
    }

    .author-date p {
        text-align: left;
    }

    .author-date time {
        font-size: var(--font_size--small)
    }

    .post .commands {
        display: flex;
        justify-content: end;
        gap: 1rem;
        margin-top: 1rem
    }
    
    /**************** colors and decoration ******************/
    body {
        background-color: var(--color_theme--light-alt);
        background-color: #e3e3e3;
        background: linear-gradient(0deg, var(--color_theme--dark), 30%, var(--color_theme--light-alt));
        background-attachment: fixed;
    }
    
    main {
        background-color: #F9F9F9;
    }

    main h1:first-child {
        color: var(--color_theme--dark);
    }


    input:not([type="checkbox"], [type="radio"], [type="color"]), select, textarea {
        background-color: var(--color_background--surface);
    }

    .card {
        background-color: var(--color_background--element);
        border: solid 1px var(--color_border-light);
        border-radius: 1rem;
        padding: 1rem;
    }

    .card-secondary {
        background-color: var(--color_background--chip);
        border: solid 1px var(--color_border-light-alt);
        border-radius: 1rem;
        padding: 1rem;
    }
/*
    main:has(.feed) {
        background-image: linear-gradient(0deg, var(--color_theme--dark) 0%, white 90%);
        background-attachment: fixed;
    }
*/
    main article.post {
        background-color: var(--color_background--element);
    }

    main article.post article.post {
        background-color: var(--color_background--chip);
    }

    .feed>article.post {
        border-right: solid 1px var(--color_border-light);
        border-left: solid 1px var(--color_border-light);
        border-bottom: solid 4px var(--color_theme--dark);
        border-top: solid 12px var(--color_border-light);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        position: relative;
        margin-top: 1rem
    }

    .feed>article.review:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: -1px;
        left: -1px;
        width: 0;
        height: 0;
        border-bottom: 4rem solid var(--color_border-dark);
        border-right: 4rem solid transparent;
    }

    article.post>article.post {
        border: solid 1px var(--color_border-light-alt);
        border-radius: 1rem;
        background-color: var(--color_background--element);
        color: var(--color_theme--dark)
    }

    /* ================== SECTION: FORM ELEMENTS ==================== */

    form .errorlist {
        color: var(--color_text--error);
        font-style: italic;
        margin-bottom: 0;
        font-weight: bold;
    }

    form .errorlist li {
        list-style-type: none;
    }

    .field .input-box {
        margin-bottom: .5rem
    }

    .field .helptext {
        margin-top: 0;
        color: var(--color_text--subtle);
        font-style: italic;
        font-size: var(--font_size--small);
    }

    
    .field details.helptext ul {
        margin: 0;
    }
    
    .field details.helptext summary .summary-handle-text {
        color: var(--color_text--link-alt);
    }

    .field details.helptext[open] summary .summary-handle-text {
        display: none;
    }

    .field details.helptext[open] summary {
        color: var(--color_text--link-alt);
    }

    .field details.helptext li {
        margin-left: 2rem
    }

    /* adjust form fields */

    .field .input-box {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .field .input-box label,
    .field .input-box .label {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: fit-content;
    }

    .field .input-box input,
    .field .input-box .input {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: fit-content;
    }

    form .commands {
        display: flex;
        gap: 1rem;
        justify-content: end;
    }

    /* ************* columns and presentational ****************/

    .cols-2 {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .cols-2 > * {
        flex: 1 1 fit-content
    }

    .border-rounded {
        border: solid 1px var(--color_border-light);
        border-radius: 1rem;
    }

    .padded-side {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .box-medium {
        max-width: 75rem;
        margin-inline: auto;
    }

    .box-small {
        max-width: 40rem;
        margin-inline: auto;
    }

    .list-as-cells {
        display: grid;
        grid-template-columns: auto;
        gap: 0;
        width: 100%;
    }

    .list-as-cells > li {
        display: contents;
    }

    .list-as-cells > li:nth-child(2n) {
        background-color: var(--color_background--chip);
    }

    .list-as-cells > li > * {
        background-color: inherit;
        padding: .5rem 1rem;
        border: solid 1px var(--color_border-light-alt);
    }
}

/* ************ Smartphone **************** */
@media screen and (max-width: 480px) {

    .container#outer {
        width: 100%;
    }

    .ticket-details {
        display: grid;
        justify-content: center;
    }

    .author-date {
        display: block;
    }
    .author-date > * {
        display: block;
    }


}

/* medium and larger screens */
@media screen and (min-width: 481px) {

    .author-date {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        grid-template-areas: "a b"
    }

    .author-date p {
        grid-area: a;
        text-align: left;
    }

    .author-date time {
        grid-area: b;
        text-align: right;
    }

    rating-widget {
        display: inline-block;
    }

    rating-widget:before {
        content: " - ";
        display: inline;
    }

    .ticket-details {
        display: grid;
        gap: 1rem;
        grid-auto-flow: dense;
        grid-template-columns: auto 2fr;
    }

    .ticket-details img {
        grid-column: 1;
        grid-row: 1;
    }

    .ticket-details:has(img) p {
        margin-top: 0
    }
}

/* *************** Tablet  *************** */
@media screen and (min-width: 481px) and (max-width: 1024px) {

}

/* *************** Desktop  *************** */
@media screen and (min-width: 1025px) {

    .container#outer {
        min-height: 90vh;
        max-width: 85vw;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        margin-top: 0;
    }

    main {
        background-color: transparent;
        margin: auto;
        width: 90%;
    }
     main:has(.feed) {
        width: 70%;
     }
}

/* ========================= END: LAYOUT =========================== */

/* ======================== SPECIFICS ============================ */
.review-form #id_rating {
    display: flex;
    gap: 2rem;
}

.list-as-cells#subscriptions_list_following {
    grid-template-columns: auto max-content;
}