<div class="flex-row">
    {% if post_entry.edit_url %}
        <form method="POST" action="{{post_entry.edit_url}}">
            {% csrf_token %}
            <input type="hidden" name="entry_id" value="{{post_entry.pk}}">
            <button class="btn btn-secondary" name="action" value="edit">Modifier</button>
        </form>
    {% endif %}
    {% if post_entry.delete_url %}
        <form method="POST" action="{{post_entry.delete_url}}">
            {% csrf_token %}
            <input type="hidden" name="entry_id" value="{{post_entry.pk}}">
            <button class="btn btn-secondary" name="action" value="delete">Supprimer</button>
        </form>
    {% endif %}
</div>
