{% autoescape on %}
<div class="container border mb-3">
    {% if debug %}
        <span class="debug">(review {{review.id}} by {{review.user_id}})</span>
    {% endif %}
    {% include "app/components/time_published.html" with time_published=review.time_created %}
    {% if review.user_id != request.user.id %}
        <p>{{review.user.display_name}} a posté une critique</p>
    {% else %}
        <p>Vous avez posté une critique</p>
    {% endif %}
    <p><strong>{{review.headline}}</strong> - {{review.rating}}/5</p>
    <div>
        {{review.body|default:"-"|linebreaks}}
    </div>
    {% include "app/components/ticket_request_view.html" with ticket=review.ticket display_commands=False %}
    {% if display_commands %}
        {% include "app/components/post_entry_commands.html" with post_entry=review %}
    {% endif %}
</div>
{% endautoescape %}
