{% autoescape on %}
<article class="post review" aria-label="Critique">
    {% if debug %}
        <span class="debug" aria-hidden="true">(review {{review.id}} by {{review.user_id}})</span>
    {% endif %}
    <section class="author-date" aria-label="author-date">
        <time>{{review.time_created}}</time>
        {% if review.is_author %}
            <p>Vous avez posté une critique</p>
        {% else %}
            <p>{{review.author_name}} a posté une critique</p>
        {% endif %}
    </section>
    <h3><strong>{{review.headline}}</strong> - <rating-widget aria-label="note : {{review.rating}} sur 5" data-rating="{{review.rating}}" data-max-rating="5">{{review.rating}}/5</rating-widget></h3>
    <div>
        {{review.body|default:"-"|linebreaks}}
    </div>
    {% include "app/components/ticket_request_view.html" with ticket=review.ticket nested=1 %}
    {% if review.commands %}
        {% include "app/components/post_entry_commands.html" with post_entry=review %}
    {% endif %}
</article>
{% endautoescape %}
