{% autoescape on %}
<article class="post ticket" aria-label="Ticket">
    {% if debug %}
    <span class="debug">(ticket {{ticket.id}} by {{ticket.user_id}})</span>
    {% endif %}
    <section class="author-date" aria-label="author-date">
        {% if nested %}
            <p>Ticket - {{ ticket.user.display_name }}</p>
        {% else %}
            <time>{{ticket.time_created}}</time>
            {% if ticket.user_id != request.user.id %}
                <p>{{ticket.user.display_name}} a demandé une critique</p>
            {% else %}
                <p>Vous avez demandé une critique</p>
            {% endif %}
        {% endif %}
    </section>
    <h3><strong>{{ticket.title}}</strong></h3>
    {% if ticket.description %}
        <p>{{ticket.description}}</p>
    {% endif %}
    {% if ticket.image %}
        <div class="w-25">
            <img alt="{{ticket.title}}" class="img-fluid" src="{{ ticket.image.url }}">
        </div>
    {% endif %}
    {% if ticket.commands %}
        {% include "app/components/post_entry_commands.html" with post_entry=ticket %}
    {% endif %}
    </article>
{% endautoescape %}
