{% autoescape on %}
<div class="container border mb-3">
    {% include "app/components/time_published.html" with time_published=ticket.time_created %}
    {% if ticket.author_name != username %}
        <p>{{ticket.author_name}} a demandé une critique</p>
    {% else %}
        <p>Vous avez demandé une critique</p>
    {% endif %}
    <p><strong>{{ticket.title}}</strong></p>
    {% if ticket.body %}
        <p>{{ticket.body}}</p>
    {% endif %}
    {% if ticket.image %}
        <img alt="{{ticket.title}}" src="{{ ticket.image }}">
    {% endif %}
    {% if ticket.num_reviews is not None %}
        <p>{{ticket.num_reviews}} reviews</p>
    {% endif %}
    {% if ticket.can_review %}
    <a class="btn btn-primary" href="{% url "review_for_ticket" ticket.ticket_id %}">Créer une critique</a>
    {% endif %}
    {% include "app/components/post_entry_commands.html" with post_commands=ticket.commands %}
</div>
{% endautoescape %}
