{% extends "app/base.html" %}
{% block title%}User {{ username }}'s subscriptions{% endblock %}
{% block content %}

<h1>Suivre d'autres utilisateurs</h1>
<article>
    <form action="{%url "add_subscription" %}" method="POST">
        {% csrf_token %}
        <div class="field box-medium">
            {{ subscribe_form.follow_username.errors }}
            <p class="input-box">
                <label for="{{ subscribe_form.follow_username.id_for_label }}">Nom d'utilisateur :</label>
                {{ subscribe_form.follow_username }}
                <button type="submit" name="action" value="validate_subscription">Envoyer</button>
            </p>
        </div>
    </form>
</article>
<article>
    <h2>Abonnements</h2>
    <ul class="list-as-cells" id="subscriptions_list_following">
    {% for u in following %}
        <li><span>{{u.display_name}}</span> <a href="{% url 'cancel_subscription' u.pk %}">désabonner</a></li>
    {% endfor %}
    </ul>
</article>
<article>
    <h2>Abonnés</h2>
    <ul class="list-as-cells" id="subscriptions_list_followers">
        {% for u in followers %}
            <li><span>{{u.display_name}}</span></li>
        {% endfor %}
    </ul>
</article>

{% endblock %}