{% extends "app/base.html" %}
{% block title%}User {{ username }}'s subscriptions{% endblock %}
{% block content %}

<h1>Suivre d'autres utilisateurs</h1>
<div>
    <form action="{%url "add_subscription" %}" method="POST">
        {% csrf_token %}
        <label for="{{ subscribe_form.follow_username.id_for_label }}">Nom d'utilisateur</label>
        {{ subscribe_form.follow_username }}
        <button type="submit">Envoyer</button>
        {{ subscribe_form.follow_username.errors }}
    </form>
</div>
<div>
    <h2>Abonnements</h2>
    <ul>
    {% for u in following %}
        <li>{{u.username}} <a href="{% url 'cancel_subscription' u.user_id %}">désabonner</a></li>
    {% endfor %}
    </ul>
<div>
    <h2>Abonnés</h2>
    <ul>
        {% for u in followers %}
            <li>{{u.username}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}