{% extends "app/base.html" %}
{% block title%}User {{ username }}'s subscriptions{% endblock %}
{% block content %}

<h1>Suivre d'autres utilisateurs</h1>
<div>
    <form action="{%url "add_subscription" %}" method="POST">
        {% csrf_token %}
        <div class="field box-medium">
            {{ subscribe_form.follow_username.errors }}
            <p class="input-box">
                <label for="{{ subscribe_form.follow_username.id_for_label }}">Nom d'utilisateur :</label>
                {{ subscribe_form.follow_username }}
                <button type="submit" name="action" value="validate_subscription">Envoyer</button>
            </p>
        </div>
    </form>
</div>
<div>
    <h2>Abonnements</h2>
    <ul>
    {% for u in following %}
        <li >{{u.display_name}} <a href="{% url 'cancel_subscription' u.pk %}">désabonner</a></li>
    {% endfor %}
    </ul>
<div>
    <h2>Abonnés</h2>
    <ul>
        {% for u in followers %}
            <li>{{u.display_name}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}